[submodule "frontend"]
	path = frontend
	url = git@github.com:MarinaKrasnov/staff-motivation.git
[submodule "backend_motivation"]
	path = backend_motivation
	url = git@github.com:black-water715/backend_motivation.git
